---
# tasks file for s3fs
- name: Install s3fs dependencies
  yum: pkg={{ item }} state=present
  with_items:
  - automake
  - fuse
  - fuse-devel
  - gcc-c++
  - git
  - libcurl-devel
  - libxml2-devel
  - make
  - openssl-devel

- name: Cleaning Previous Download
  file: path=/tmp/s3fs-fuse-{{s3fs_version}}.tar.gz state=absent

- name: Download s3fs sources
  get_url: url={{ s3fs_source }} dest=/tmp/s3fs-fuse-{{s3fs_version}}.tar.gz

- name: Extract s3fs sources
  unarchive: src=/tmp/s3fs-fuse-{{s3fs_version}}.tar.gz dest=/tmp

- name: Build and install s3fs
  shell: ./autogen.sh && ./configure --prefix={{ s3fs_install_prefix }} && make && make install chdir=/tmp/s3fs-fuse-{{s3fs_version}} creates={{ s3fs_install_prefix }}/bin/s3fs

- name: Cleaning Download
  file: path=/tmp/s3fs-fuse-{{s3fs_version}}.tar.gz state=absent
